/* Additional style for the travel image */
.bus {
    max-width: 150px;
    position: relative;
    animation: travelAnimation 5s linear infinite; /* Adjust the animation duration as needed */
  }
  
  @keyframes traveslAnimation {
    0% {
      left: -100px; /* Start position, adjust the value based on how far left you want the image to begin */
    }
    100% {
      left: calc(100% + 100px); /* End position, adjust the value based on how far right you want the image to travel */
    }
  }
  