body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(-45deg, #ffdf2a, #f1e882 );
  background-size: 400% 400%;
  animation: gradient 5s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Forgot-form {
  background: #fffcd6e0;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.Forgot-form h1 {
  margin-bottom: 20px;
}

.input-field {
  margin-bottom: 15px;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffc518;
  border-radius: 5px;
}

.btn-fr {
  background-color: #000000;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-fr:hover{
  color: #f8e50d;
}

.custom-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s; 
}

.custom-link:hover { 
  text-decoration: none;
  color: #f8e50d;

}



/* Add your animation keyframes here */
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}