@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-image: url(/img/bus-img/2.jpg);
}


body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.modal-content {
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.modal-header {
    background-color: #ffcc00;
    color: #0b0b0b;
    border-radius: 20px 20px 0 0;
}

.modal-body {
    align-items: center;
    padding: 20px;
    color: #10213e;
}

.modal-footer {
    background-color: #fcde5a;
    border-top: none;
    border-radius: 0 0 20px 20px;
}

.modal-footer .btn {
    border-radius: 20px;
}


.modal-body input {
    background: #fffdf5;
    border: none;
    padding: 12px 15px;
    border-radius: 8px;
    width: 100%;
    font-family: inherit;
    color: #1e1702;
    font-size: inherit;
}


.modal-body a {
    text-decoration: none;
    color: #020814;
}

.modal-body a:hover {
    color: #050337;
}

#registrationForm .form-group {
    margin-bottom: 15px;
}

#signupLink {
    font-size: 12px;
    padding: 3px;
    float: right;
    font-size: 20px;
}

#signupLink {
    color: #10213e;
    cursor: pointer;
}

#signupLink:hover {
    color: #050337;
}

#signupLink:active {
    color: #050337;
}


.signinLink {
    font-size: 12px;
    padding: 3px;
    float: right;
    font-size: 20px;
}

.signinLink {
    color: #10213e;
    cursor: pointer;
}

.signinLink:hover {
    color: #050337;
}

.signinLink:active {
    color: #050337;
}


#registrationForm.show,
#loginForm.hide {
    display: block;
}

#registrationForm.hide,
#loginForm.show {
    display: none;
}


.btn-lr {
    background-color: #181817;
    color: #fefeff;
    border: none;
    border-radius: 0px 8px 0px 8px;
    padding: 12px 22px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btn-lr:hover {
    background-color: #232324;
    color: #ffd900;
}


#signupLink {
    font-size: 14px;
}
.signinLink {
    font-size: 14px;
}


.modal {
    animation: fadeInOut 0.5s ease;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* ------------------------------------------------------------------------------------------------- */
.btn-lg {
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 0px 8px 0px 8px;
    background-color: black;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.btn-lg:hover {
    background-color: #17150b;
    color: #fff;
}

.forgot-password {
    margin-left: 22rem;
    font-size: 12px;
}


.password-container {
    position: relative;
}

.show-password-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}