body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
  }




  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
  }

  form input {
    height: 40px;
    width: 40px;
  }

  :where(.container, form, .input-field) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  form .input-field {
    flex-direction: row;
    column-gap: 8px;
  }


  .input-field input {
    height: 45px;
    width: 42px;
    border-radius: 4px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
  }

  .input-field input::-webkit-inner-spin-button,
  .input-field input::-webkit-outer-spin-button {
    display: none;
  }
