/* Reset some default styles to ensure consistency */
body, h1, h2, h3, h4, h5, h6, p, ul, li, form, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
}

/* Navigation Styles */
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #f9d81f;
    padding-top: 20px;
    color: #000;
    transition: width 0.3s ease;
    overflow-x: hidden;
}

.sidenav a {
    display: block;
    padding: 15px;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidenav a:hover {
    background-color: #ffe54f;
}

.sidenav .logo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid #888;
}

.navbar-toggler {
    position: fixed;
    top: 20px;
    left: 320px;
    font-size: 20px;
    color: #333;
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 2;
    display: none;
}

/* Main Content Styles */
.main-content {
    margin-left: 300px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

/* Header Styles */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.head .profile {
    display: flex;
    align-items: center;
}

.head .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

.head .profile .profile-text {
    font-weight: bold;
}

.head #logout-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
}

/* Dashboard Box Styles */
.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.col-div-3 {
    flex: 0 0 calc(33.33% - 20px);
}

.box {
    background-color: #fff229a1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s;
}

.box:hover {
    transform: scale(1.05);
}

.box p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box span {
    font-size: 16px;
    color: #777;
}

.box-icon {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
    }

    .sidenav {
        width: 0;
    }

    .main-content {
        margin-left: 0;
    }
}
